*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  background: #95a5a6;
  color: #000;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  font-size: 20px;
  line-height: 2;
}

a {
  text-decoration: none;
  border-radius: 20px;
  color: #000;
}

.highlight {
  transition: all 0.2s;
  border-bottom: 2px solid #bdc3c7;
  position: absolute;
  top: 0;
  background: #bdc3c7;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.menu {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 100px 0;
}

.menu a {
  display: inline-block;
  padding: 5px;
  margin: 0 20px;
}
